
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>

</style>
<div style="margin: auto;margin-left: 20%;margin-right: 20%;margin-top: 150px;">

    <br>
    <input name="img" id="img" type="file" />
    <button id="upload"  onclick="jqSubmit()">Start upload</button>

    <div>预测结果:</div>
    <div id="error_msg" style="color: red"></div>
    <div id="origin_s3_url"></div>
    <br>


</div>

<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

<script>
    window.onload = function(){};
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    function jqSubmit() {
        $("#error_msg").text("");
        var file_obj = document.getElementById("img").files[0];
        var fd = new FormData();
        {#fd.append('username',"wis");#}
        fd.append('file',file_obj);
        $.ajax({
            url:"/predict",
            type: 'POST',
            data:fd,
            processData: false,
            contentType: false,
            success:function (results) {
                  $("#error_msg").text(results);
            }
        })
    }
</script>

</body>
</html>